.Apple {
  .header {
    background: #1B3E77;
  }

  .receiver-section {
    .input-label {
      width: 140px;
    }
  }

  .checkbox-wrap {
    input {
      margin: 10px 10px 10px;
      height: auto;
    }
  }
}