.App {
  max-width: 375px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  .Title {
    text-align: center;
  }

  .Clean {
    border: 2px solid deepskyblue;
    border-radius: 12px;
    padding: 12px;
  }

  ul {
    padding-left: 25px;
    li {
      padding-bottom: 10px;
    }
  }

  .Beds {
    padding-bottom: 30px;
    display: flex;

    .Bed {
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 12px;
      float: left;
      padding: 24px 16px;
      margin: 0 6px;
    }
  }

  .LocationBtn {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgb(34,34,34);
    border-radius: 8px;
    background: white;
    padding: 13px 23px;
    margin-bottom: 20px;
  }

  .Calendar {
    width: 100%;
  }
}