.OnOff {

  .Title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;

    span {
      font-size: 35px;
      font-weight: bold;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .Slider {
    margin-bottom: 50px;
  }

  .slick-dots li {
    margin: 0;
  }

  img {
    width: 100%;
  }

  .Video {
    width: 100%;
    height: 250px;
  }

  .Ptitle {
    font-weight: bold;
    text-decoration: underline;
  }

  .Map {
    width: 100%;
    height: 300px;
    border: 0;
  }

  .LocationBtn {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    padding: 13px 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Calendar {
    width: 100%;
    margin-bottom: 20px;
  }

  .ReservationBtn {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 0;
    border-radius: 8px;
    background: black;
    padding: 13px 23px;
  }

  .Reservation {
    overflow: hidden;

    input[type=radio] {
      display: none;
    }

    input[type=radio] + label {
      font-weight: 400;
      font-size: 14px;
      margin-right: 10px;
    }

    input[type=radio] + label span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: -2px 10px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 50%;
      border: 3px solid #ffffff;
    }

    input[type=radio] + label span {
      background-color: #fff;
    }

    input[type=radio]:checked + label {
      color: #333;
      font-weight: 700;
    }

    input[type=radio]:checked + label span {
      background-color: darkcyan;
      border: 2px solid #ffffff;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    }

    input[type="radio"] + label span, input[type="radio"]:checked + label span {
      transition: background-color 0.24s linear;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
    }

    .HowMany {
      p {
        display: inline-block;
        width: 100px;
        padding: 0 20px;
        margin: 0;
      }

      span {
        padding: 0 20px;
      }

      .Notice {
        width: 90%;
        padding-top: 10px;
      }
    }

    .Barbecue {
      h2 {
        display: inline-block;
      }

      .BarbecueBtn {
        float: right;
        margin-top: 40px;

        input {
          margin-left: 15px;
        }
      }

      p {
        margin-top: 0;
      }
    }

    .PriceTotal {
      overflow: hidden;

      h2 {
        float: left;
        display: inline-block;
      }

      .Price {
        float: right;
        margin-right: 20px;
      }

      .PriceDetail {
        float: right;
        margin-right: 20px;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 0 10px;
      }
    }

    .PriceOption {
      margin-top: 30px;

      p {
        margin-bottom: 0;
        word-break: keep-all;
      }
    }

    .Deposit {
      input {
        margin-left: 10px;
        height: 20px;
      }

      .BankAccount {
        border: 1px solid black;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}

.ModalTitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.ModalList {
  padding-left: 10px;
}

.ModalContent {
  margin: 10px 0;
}

.BtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ModalBtn {
    width: 48%;
    height: 30px;

    &.Alone {
      width: 100%;
    }
  }
}