.Blon {
  .header {
    background: black;
  }

  .tabs {
    .Tab {
      &.Active {
        border-bottom-color: black;
        color: black;
      }
    }
  }

  .Slider {
    .dots {
      li > button {
        border: 1px solid black;
      }

      .slick-active {
        & > button {
          background: black;
        }
      }
    }
  }
}