.Admin {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;

  table {
    width: 100%;

    .homepage-cell {
      background: darkcyan;
      color: white;
    }

    .airbnb-cell {
      background: deeppink;
      color: white;
    }

    button {
      word-break: keep-all;
    }
  }
}