.Layout {
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fdf5e6;
    height: 10% !important;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    top: 35px !important;
    right: 20px !important;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #ff5f5f;
    height: 24px !important;
  }

  /* Sidebar wrapper styles */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #f9f9f9; /* 밝은 배경색 */
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #f9f9f9; /* 메뉴 배경색에 맞춘 형태 */
  }

  /* Styling for menu titles */
  .bm-menu h2 {
    color: #333; /* 제목 색을 어두운 색으로 */
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* 구분선을 약간 더 밝은 색으로 */
    padding-bottom: 10px;
  }

  /* Styling for clickable menu items */
  .bm-item-list {
    color: #666;
    padding: 0.8em;
  }

  .bm-item {
    display: block;
    color: #333; /* 메뉴 항목 색을 어두운 색으로 */
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
