.Layout {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  height: 100%;

  .Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkcyan;
    z-index: 10;

    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 10px;
    }

    .Path {
      color: white;
    }
  }

  .Children {
    padding: 60px 15px 15px 15px;
  }
}