.LocationBtn {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
  padding: 13px 23px;
  margin-top: 10px;
}

.ReservationBtn {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 8px;
  background: black;
  padding: 13px 23px;
  margin-bottom: 30px;
}