.large-btn {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  padding: 13px 23px;
}

.location-btn {
  margin-top: 10px;
}
