html, body, #root {
  width: 100vw;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Gowun Dodum', sans-serif;
  background: #fff8e3;
}

a {
  color: blue;
  text-decoration: underline;
}